<section th:replace="~{fragments/layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
    <main>
        <div class="hero" style="height: 60vh;">
            <div class="overlay"></div>
            <div class="hero-content">
                <h1>Contato</h1>
                <p class="slogan">Entre em contato e leve mais diversão para o seu evento!</p>
            </div>
        </div>

        <div class="main-section">
            <div class="cards-container">
                <div class="card" style="text-align: center;">
                    <h3><img th:src="@{/images/whatsapp.png}" width="25" style="vertical-align:middle" alt=""> WhatsApp</h3>
                    <a href="https://wa.me/5512992221929" target="_blank" class="btn" style="margin-bottom:10px; width:100%;">Tia Pink</a>
                    <a href="https://wa.me/5512982865308" target="_blank" class="btn" style="width:100%;">Tio Blue</a>
                </div>

                <div class="card" style="text-align: center;">
                    <h3><img th:src="@{/images/gmail.png}" width="25" style="vertical-align:middle" alt=""> E-mail</h3>
                    <a href="mailto:contato@solerecreacao.com" class="btn">Enviar E-mail</a>
                </div>

                <div class="card" style="text-align: center;">
                    <h3><img th:src="@{/images/instagram.png}" width="25" style="vertical-align:middle" alt=""> Instagram</h3>
                    <a href="https://instagram.com/tiapink.sjc" target="_blank" class="btn">Visitar Perfil</a>
                </div>
            </div>
        </div>
    </main>
</section>