<section th:replace="~{fragments/layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
    <main>
        <div class="hero" style="height: 60vh;">
            <div class="overlay"></div>
            <div class="hero-content">
                <h1>Nossos Serviços</h1>
                <p class="slogan">Conheça as nossas brincadeiras, gincanas e oficinas criativas</p>
            </div>
        </div>

        <div class="main-section">
            <div class="cards-container">
                <div class="card">
                    <h2>Oficinas 1-2h</h2>
                    <ul>
                        <li>Plantio</li>
                        <li>Pintura de Quadros</li>
                        <li>Decoração de Biscoitos</li>
                        <li>João Bobo / Origami</li>
                    </ul>
                    <p class="extra"><b>A cada 10 crianças +1 monitor: R$100</b></p>
                </div>
                <div class="card">
                    <h2>Oficinas 2-3h</h2>
                    <ul>
                        <li>Pulseira de Miçangas/Elástico</li>
                        <li>Slime / Massinha</li>
                        <li>Pintura de Roupas (Camisetas, eco bag, baby body,
                            bonés, panos de prato, etc)</li>
                    </ul>
                    <p class="extra"><b>A cada 10 crianças +1 monitor: R$150</b></p>
                </div>
                <div class="card">
                    <h2>Pintura e Cabelo</h2>
                    <p><b>Pintura de Rosto:</b></p>
                    <small>1h (R$50) | 3h (R$40) | 5h (R$30)</small>
                    <p style="margin-top:10px;"><b>Cabelo Maluco:</b></p>
                    <small>1h (R$55) | 3h (R$45) | 5h (R$35)</small>
                </div>
            </div>
        </div>
    </main>
</section>