<section th:replace="~{fragments/layout :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
    <main>
        <div class="hero" style="height: 65vh;">
            <div class="overlay"></div>
            <div class="hero-content">
                <h1>Conheça a SOLÊ!</h1>
                <p class="slogan" style="max-width: 800px;">
                    A SOLÊ! nasceu da ideia de unir a experiência com recreação infantil com a paixão pela alegria dos pequenos.
                    Somos uma empresa que presa pela cultura, visão, diversão e principalmente alegria.
                    Buscamos, por meio das brincadeiras, trazer consciência, valores familiares,
                        momentos inesquecíveis e muito mais para cada criança.
                </p>
            </div>
        </div>

        <div class="main-section">
            <div class="cards-container">
                <div class="card">
                    <h3>Missão</h3>
                    <p>Nossa missão é proporcionar momentos de alegria, diversão e aprendizado para
                        crianças por meio de atividades recreativas seguras, criativas e educativas,
                        contribuindo para o desenvolvimento social e emocional em cada experiência.</p>
                </div>
                <div class="card">
                    <h3>Visão</h3>
                    <p>Nossa visão é ser referência em recreação infantil na região do Vale do Paraíba,
                        reconhecida pela qualidade das atividades, profissionalismo da equipe
                        e pela capacidade de transformar eventos em experiências inesquecíveis para crianças e famílias.</p>
                </div>
                <div class="card">
                    <h3>Valores</h3>
                    <ul style="list-style: none; padding:0;">
                        <li><b>Alegria</b> – Levar diversão e felicidade</li>
                        <li><b>Segurança</b> – Atividades supervisionadas</li>
                        <li><b>Respeito</b> – Valorizar cada criança</li>
                        <li><b>Inclusão</b> – Atividades acessíveis</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</section>